<!-- Footer -->

<footer id="footer" class="footer">

    <!-- footer cta block-->
    <div class="footer-banner bottom-fixed-banner">
        <div class="footer-banner-close" id="banner-close">
            <img src="img/x.svg" alt="close">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-md-offset-2 col-lg-offset-2">
                    <p class="hidden-xs hidden-sm">Haven’t found what you want?</p>
                    <a class="samurai-btn btn btn-primary" href="">Get your Custom Essay Sample!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer cta block-->

    <!-- footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 text-left">
                Copyright © 2017 Essaysamurai.co.uk
            </div>
            <div class="col-md-8 col-sm-8 text-right">
                <div class="widget">
                    <div class="widget-body">
                        <div class="contact">
                            <ul>
                                <li>12-22 Newhall St, Birmingham B3 3AS, UK</li>
                                <li><a href="mailto:info@essaysamurai.co.uk">info@essaysamurai.co.uk</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="chat">
    <div class="chat__massage">
        <div class="chat__close">×</div>

        <div class="chat__support">
            <div class="chat__image"></div>
        </div>

        <p>Hi there, would you like to get such a paper? How about receiving a customized one?
            <a rel="nofollow" href="" target="_blank">Check it out </a>
        </p>
    </div>
    <div class="chat__icon">
        <a href="javascript:void(0)" class="char__round" data-count-massage="1"></a>
    </div>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jssocials.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>


