/* Samurai Catalog */

.samurai__page {
  position: relative;
  padding-top: calc(26px + 65px);
  padding-bottom: 45px;

  h1 {
    font-weight: 500;
    color: #35343d;
    margin-top: 26px;
    margin-bottom: 26px;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    line-height: 1.3;
    position: relative;
  }

  & .sidebar-bg {
    width: 300px;
    background: #fff;
    position: absolute;
    height: 300px;
    right: 0;
    top: 65px;
  }
}

.samurai__single{
  h1 {
    @extend .after;

    &:after{
      background-color: #a9a9a9;
      margin-top: 15px;
    }
  }
}

/* Sidebar */
.samurai__sidebar {

  @media screen and (max-width: 767px) {
      margin-top: 30px;
      background-color: #ffffff;
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .samurai__widget {
    margin-bottom: 45px;

    @media screen and (min-width: 768px) {
      padding-left: 20px;
    }

    h4 {
      line-height: 1.5;
    }

    @media screen and (min-width: 992px) {
      ul,.samurai__tagcloud {
        max-width: 260px;
      }
    }

    &-posts {
      @media screen and (min-width: 992px) {
        margin-bottom: 70px;
        padding-left: 55px;
      }

      @media screen and (min-width: 768px) and (max-width: 991px){
        margin-bottom: 70px;
        padding-left: 40px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 15px;

        @media screen and (min-width: 768px) and (max-width: 991px){
          padding-right: 15px;
        }

        li {
          margin-bottom: 13.5px;
          position: relative;
          padding-left: 15px;
		  
		  @media screen and (min-width: 768px) and (max-width: 991px){
            padding-left: 5px;
          }

          &:before {
            content: '';
            width: 8px;
            height: 2px;
            position: absolute;
            background: $pr_colr;
            left: -15px;
            top: 50%;
            transform: translate(0, -50%);
            display: inline-block;
          }
          a {
            font-size: 15px;
            line-height: 1.47;
            letter-spacing: 0.5px;
            text-align: left;
          }
        }
      }
    }
	
	
	&-tag-cloud{
      @media screen and (min-width: 992px) {
        padding-left: 55px;
      }

      @media screen and (min-width: 768px) and (max-width: 991px){
        padding-left: 40px;
      }
    }
	
  }

  a.btn{
    background-color: #f3f3f6;
    border: solid 1px #d0d0d0;
    font-size: 13px;
    text-align: center;
    color: #535b61;
    text-transform: uppercase;
    max-width: 271px;
    &:hover{
      background-color: $pr_colr;
      border: solid 1px $pr_colr;
      color: #fff;
    }
  }
}

.widget__cta {
  position: relative;
  transition: all 0.5s ease;

  &:hover{
    opacity: 0.85;
  }

  a{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right: 0;
    width:100%;
  }

  &-title{
    position: absolute;
    top: 45px;
    left: 36px;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #5db83a;
    line-height: 1.25;
    text-align: left;
    text-transform: uppercase;
    &:after {
      content: '';
      display: block;
      width: 100%;
      max-width: 50px;
      margin: 20px 0  22px 0;
      left: 3px;
      height: 5px;
      background: $pr_colr;
      text-decoration: none;
      position: absolute;
    }

    @media screen and (max-width:991px) {
      font-size: 36px;
    }
  }
}


/* Samurai  Search Results */

.samurai__search {

  h1{
    margin-bottom: 25px;
  }
  .search__result {
    @extend .ul-reset;
    @extend .after;
    position: relative;
    &-count{
      font-family: Lato, sans-serif;
      font-size: 13px;
      line-height: 1.69;
      letter-spacing: 0.4px;
      text-align: left;
      color: #525252;
    }

    &-means{
      font-family: Lato, sans-serif;
      font-size: 15px;
      line-height: 1.47;
      letter-spacing: 0.4px;
      text-align: left;
      color: $pr_colr;
      span{
        color: #525252;
      }

      & .no-miss{
        font-weight: bold;
        font-style: italic;
        color: $pr_colr;
      }
    }
  }

  .samurai__article{
    &-item{
      background: transparent;
      border-top-width: 0;
      box-shadow: none;
      margin-bottom: 10px;
      position: relative;
      @media screen and (min-width: 768px){
        padding: 20px 0;
        & .hover{
          left:-30px;
          right: -20px;
          border-radius: 6px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom:0;
        display: block;
        max-width: 50px;
        height: 1px;
        border: solid 1px #c4c4c5;
        width:100%;
      }
    }
    &-search-title {
      font-family: Montserrat, sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      text-align: left;
      color: #5db83a;
      text-transform: uppercase;
      margin-bottom: 10px;
      @extend .text-overflow;
      }
    }
  }


/* Article Banner */

.samurai__article-banner {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff;
  background-image: url(../../img/article-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  padding:33px 56px;
  border-radius: 6px;
  position: relative;
  z-index:0;
  margin-top: 10px;
  margin-bottom: 40px;

  &:before{
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    opacity:1;
    z-index:-1;
  }

  &-top{
    line-height: 1.81;
  }

  &-middle{
    font-size: 24px;
    line-height: 1.51;
    color: #5db83a;
  }

  &-bottom {
    line-height: 1.81;
  }

  &-button{
    margin-top: 30px;
  }

  .btn{
    padding: 8px 19px;
  }

  @media screen and (max-width: 767px){
    .btn{
      padding: 0px;
      width: 182px;
      height:42px;
      line-height: 41px;
    }
  }
}


/* Search From */

.search__form{
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  max-width:543px;

  input{
    width: 100%;
    height: 50px;
    padding-left: 30px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #525252;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 1px rgba(154, 154, 154, 0.56);
    outline: none;
  }

  button{
    position: absolute;
    top: 0;
    right: 15px;
    width: 25px;
    background: 0 0;
    border-color: transparent;
    color: #9b9b9b;
    padding: 0;
    font-size: 18px;
    line-height:1;
    box-sizing: border-box;
    top:50%;
    transform: translate(0,-50%);
  }
}


/* SINGLE */
.samurai__article-single {
  &-content {

    p{
      font-family: Lato, sans-serif;
      font-size: 16px;
      line-height: 1.63;
      letter-spacing: 0.3px;
      text-align: left;
      color: #2f2f32;
      margin-bottom: 20px;
    }

  }

  &-meta{
    border-bottom: 2px solid $pr_colr;
    margin: 35px 15px 0 15px;
    padding-bottom: 25px;
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    div[class*="col-"]
    {
      padding:0;
    }
  }

  &-author{
    color: #46454e;
    line-height: 1.5;
    font-style: italic;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  &-data{
    font-family: "Lato", sans-serif;
    font-size:16px;
    font-weight: 600;
    line-height: 1.63;
    letter-spacing: 0.5px;
    text-align: left;
    color: #404040;
  }

  .sharing{
    margin-top: 8px;
  }
}

/* Related */
.related{
  h3{
    margin: 30px 0 27px 0;
    font-family: Montserrat, sans-serif;
    font-size: 31px;
    font-weight: 500;
    line-height: 1.94;
    text-align: left;
    color: #35343d;
  }
}
.related__essays {
  background: #fff;
  padding:28px 21px 28px 21px;

  ul{
    padding-left: 15px;
    @media screen  and (min-width: 768px){
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @extend .ul-reset;
    li{
      margin-bottom: 20px;
      position: relative;
      padding-left: 10px;
      font-family: Lato, sans-serif;
      font-size: 15px;
      line-height: 1.47;
      letter-spacing: 0.5px;
      text-align: left;

      @media screen  and (min-width: 768px){
        width: 50%;
        max-width: 50%;
        flex-basis: 50%;
        padding-right: 30px;
      }

      &:before {
        content: '';
        width: 8px;
        height: 2px;
        position: absolute;
        background: #5db839;
        left: -10px;
        top: 11px;
        display: inline-block;
      }
    }
  }
}



/* 404 page */

.samurai__404 {
  padding-bottom: 240px;
  padding-top: 100px;
  @media screen and (min-width: 767px){
    background-image: url("../../img/404-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 12rem;
    font-weight: 500;
    line-height: 0.8;
    text-align: center;
    color: #35343d;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
  }

  p{
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.6px;
    text-align: center;
    color: #3c474e;
    margin-bottom: 15px;
  }

  &-subtitle{
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.6px;
    text-align: center;
    color: #3c474e;
    position: relative;


    @extend .after;

    &:after {
      margin: 20px auto;
    }
  }
}

/* Samurai Contact */

.samurai__form{
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  border-top: solid 3px #5db83a;
  padding: 30px 23px;

  input.form-control, textarea.form-control {
    border-radius: 4px;
    background-color: #ffffff;
    padding-left: 18px;
    font-family: Lato, sans-serif;
    font-size: 13px;
    line-height: 2;
    letter-spacing: 0.4px;
    text-align: left;
    color: #999999;
  }
  input.form-control{
    height: 45px;
  }

  textarea{
    resize: none;
    height:227px;
  }

  label {
    padding-left: 20px;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: left;
    color: #2f2f32;
    line-height: 2;
  }

  .btn{
    width: 119px;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    margin-top: 22px;
  }
}

.samurai__page{

  .samurai__article{

    &-archive-title{
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        text-align: left;
        color: #35343d;
        margin: 0;

        @extend .after;
    }

    &-item{
      @media screen  and (min-width: 768px){
        display: flex;
        flex-direction: column;
      }
    }
  }

  @media screen  and (min-width: 768px){
    .flex-article {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      &-item{
        display: flex;
      }
    }
  }

}
