/* Sections */

section.section-start {
  padding-top: 67px;
}

.section-gray-d {
  background-color: #f3f4f9;
}

.section-gray {
  background-color: #f9f9fb;
}

/* End Sections */

.btn {
  border-radius: 50px;
  transition: all .5s ease;
}

.samurai__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  line-height: 2;
  position: relative;
  @extend .reset;
  @extend .after;

  &.inverse {
    &:after {
      background: #fff;
    }
  }

  @media screen and (max-width: 767px) {
    font-size: 21px;
  }
}

/* Widget */

.samurai__widget {
  .samurai__tagcloud {
    @for $i from 1 through 12 {
      .#{tag-size}-#{$i} {
        font-size: 14px + $i;
      }
    }
    [class*='tag-size'] {
      padding-right: 25px;
      padding-bottom: 2px;
      display: inline-block;
      font-weight: 400;
      line-height: 1.25;
      letter-spacing: 0.6px;
      font-family: Lato, sans-serif;
    }

    .tag-size-2, .tag-size-1 {
      opacity: 0.6;
    }

    .tag-size-7, .tag-size-8 {
      opacity: 0.8;
    }
  }
}

/* Banner */

.samurai__cta {
  &-content {
    background-image: url(../../img/cta_bg1.png);
    padding-top: 25px;
    padding-bottom: 17px;
    color: #4b2109;
    font-family: Montserrat, sans-serif;
    text-align: center;
    border-radius: 6px;
    line-height: 1.3;

    .samurai-btn {
      margin-top: 11px;
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
      color: #ffffff;
      padding: 8px 16.5475px;
    }
  }

  &-h2 {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: #4b2109;
  }

  &-h3 {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #4b2109;
  }

  &-pages {
    margin-bottom: 31px;

    &.search-ntf{
      margin-top: 31px;
    }
  }
}

/* breadcrumb */

.breadcrumb {
  display: inline-block;
  border-radius: 50px;
  border: solid 1px #9a9a9a;
  background: transparent;
  padding: 5px 15px;
  margin-bottom: 0;
  font-size: 13px;
}

.breadcrumb>li+li:before{
  content: "//";
}


/* paginate */
.paginate {
  text-align: center;
  margin-top: 10px;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;

    .dots{
      display: none;
    }
  }

  & .page-item {
    padding: 0 15px;
    @media screen and (max-width: 767px) {
      display: none;
    }
    a {
      font-size: 15px;
      line-height: 1.47;
      letter-spacing: 0.5px;
      text-align: center;
      color: #525252;
      position: relative;
      text-decoration: none;
      transition: all 0.5s ease;

      &:hover {
        color: $pr_colr;
        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          max-width: 15px;
          bottom: -5px;
          height: 3px;
          border-bottom: solid 1px #59b934;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
    &.active {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.22;
      color: #59b934;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        max-width: 15px;
        bottom: -5px;
        height: 3px;
        border-bottom: solid 1px #59b934;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
  & .prev,
  & .next {
    display: block;
    a {
      font-size: 13px;
      line-height: 1.69;
      letter-spacing: 0.3px;
      text-align: left;
      color: $pr_colr;
      text-decoration: none;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  & .prev {
    float: left;
  }

  & .next {
    float: right;
  }
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

blockquote {
  border-left-color: #5db83a;
  margin-top: 15px;
  margin-bottom: 10px;
}

.samurai__video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 25px 0;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.flex-row {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:first-letter {
    text-transform: uppercase;
  }
}

.bar_showing .navbar.navbar-fixed-top {
  top: 32px;
}

@media screen and (max-width: 782px) {
  .bar_showing .navbar.navbar-fixed-top {
    top: 46px;
  }
}
