.footer {
   ul{
     @extend .ul-reset;
   }
  background-color: #5db839;
  padding: 25px 0 50px 0;
  color: #fff;
  font-weight: 400;
  position: relative;
  font-family: Lato, sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.69;
  /* Banner */
}

/* Footer */

@media screen and (max-width: 767px) {
  .footer {
    padding: 25px 0 25px 0;
    div {
      text-align: center !important;
    }
  }
}

.footer-banner {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  background-image: url("../../img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  line-height: 67px;
  background-size: cover;
  &-close {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-block;
    cursor: pointer;
    z-index: 9999;
    img {
      display: inherit;
    }
  }

  & p {
    display: inline-block;
    padding: 0 15px 0 0;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #51220a;
    margin: 0;
  }

}

.footer a {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer .footer-banner {
    height: 67px;
  }
}

@media screen and (max-width: 767px) {
  .footer .footer-banner {
    height: 67px;
  }
}

/* chat */

#chat {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  position: fixed;
  width: 266px;
  height: 300px;
  bottom: 60px;
  right: 30px;
  color: #748190;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  z-index: -1;
  opacity: 0;
  transform: translateY(50px);
  filter: blur(7px);
  animation-name: chat;
  animation-duration: 5s;
  animation-fill-mode: both;
  a {
    font-weight: bold;
    color: #5db83a;
  }
  > * {
    box-sizing: border-box;
  }
  .chat__support {
    width: 100%;
    height: 106px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url(../../img/icons/group-5@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    .chat__image {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background: url("../../img/icons/bitmap@2x.png") 50% no-repeat;
      background-size: contain;
      border: 2px solid #5db83a;
      margin: 0 auto 0 auto;
      position: absolute;
      bottom: 5px;
      left: 50%;
      margin-left: -32px;
    }
  }
  .chat__massage {
    width: 190px;
    height: 210.8px;
    background-color: #f8f8f8;
    box-shadow: 0 0 15px rgba(27, 30, 23, 0.1);
    position: absolute;
    top: 50px;
    right: 38px;
    z-index: -1;
    border-radius: 6px;
    .chat__close {
      cursor: pointer;
      position: absolute;
      right: -18px;
      top: -18px;
      height: 18px;
      width: 18px;
      color: #5db839;
      font-size: 28px;
      font-weight: 600;
      transition: all 0.3s ease;

      &:hover{
        opacity:0.85;
      }
    }
    p {
      padding: 0px 10px 16px 15px;
      margin: 0;
      font-family: Lato, sans-serif;
      font-size: 13px;
      text-align: left;
      color: #80798c;
    }
    a {
      font-weight: 700;
      cursor: pointer;
    }
  }
  .chat__icon{
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .chat__icon .char__round {
    float: right;
    width: 65px;
    height: 65px;
    background-color: #5db83a;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    outline: 0;
    &:before {
      content: '';
      background: url("../../img/icons/chat@2x.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 44px;
      width: 44px;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -22px;
      left: 50%;
      margin-left: -22px;
    }
    &:after {
      content: attr(data-count-massage);
      width: 22px;
      height: 22px;
      background-color: #ffee81;
      border-radius: 50%;
      color: #51230a;
      font-size: 13px;
      position: absolute;
      text-align: center;
      right: -4px;
      font-family: Lato, sans-serif;
      top: -3px;
      box-shadow: 0 0 10px rgba(27, 30, 23, 0.1);
    }
  }
}

@media screen and (max-width: 460px) {
  #chat {
    display: none;
  }
}

@-webkit-keyframes chat {
  0% {
    opacity: 0;
    transform: translateY(50px);
    z-index: -1;
    filter: blur(7px);
  }

  96% {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(7px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    z-index: 999;
    filter: blur(0);
  }
}


@keyframes chat {
  0% {
    opacity: 0;
    transform: translateY(50px);
    z-index: -1;
    filter: blur(7px);
  }

  96% {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(7px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    z-index: 999;
    filter: blur(0);
  }
}