/* Samurai Hero Header */

.samurai__hero {
  width:100%;

  &-header {
    @extend .reset;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
    color: $color_h;
    position: relative;
    @extend .after;
  }

  &-text {
    @extend .reset;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.6px;
    color: #3c474e;
    font-weight: normal;
  }

  .button-block {
    margin-top: 28px;

    .btn {
      height:50px;
      line-height:47px;
      padding: 0 23px;
      text-transform: uppercase;
      margin-right: 15px;
    }

    form{
      display: inline-block;
      position: relative;
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #525252;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #525252;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #525252;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #525252;
      }
      input[type="text"]{
        transition: width .7s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        height: 50px;
        width: 165px;
        font-size: 16px;
        line-height: 47px;
        padding: 0 25px;
        text-transform: uppercase;
        margin-right: 15px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        background: transparent;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid #5db83a;
        white-space: nowrap;
        border-radius: 50px;
        box-shadow: none;
        text-align: left;
        color: #525252;

        &.shown {
          width: 345px;
          cursor: text;
        }
      }

      .samurai-btn-search{
        opacity:0;
        visibility: hidden;
        position: absolute;
        right: 25px;
        width: 25px;
        background: 0 0;
        border-color: transparent;
        color: #9b9b9b;
        padding: 0;
        font-size: 18px;
        line-height: 1;
        box-sizing: border-box;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.7s ease;

        &.active{
          opacity:1;
          visibility: visible;
        }
      }
    }
  }

  .search-form {
    .form-input-fields {
      position: relative;
      margin-bottom: 16px;
      margin-top: 20px;


      input{
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border: solid 1px #9a9a9a;
      }

      .form-icon-serach {
        position: absolute;
        top:0;
        right:0;
        border-top:0;
        line-height: 39px;
        color: #9a9a9a;
        width:40px;
        text-align: center;
      }
    }
    .btn{
      width:100%;
      text-transform: uppercase;

    }
  }

  @media screen and (min-width: 768px){
    background-image: url(../../img/top_bg.png);
    min-height: 695px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (max-width:767px) {
    padding: 90px 0 40px 0!important;
    background-color: #f6f6f8;

    &-header {
      font-size: 24px;
    }


    &-text {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      line-height: 1.31;
      letter-spacing: 0.5px;
      text-align: left;
      color: $color_h;
    }
  }
}


/* Samurai About */

.samurai__about {
  position: relative;
  @media screen and (min-width: 768px){
    padding: 31px 0;
  }
    &-left{
      @media screen and (max-width: 767px){
        padding: 31px 15px;
        background: $pr_colr;
      }
    }
    &-rigth {
      @media screen and (max-width: 767px){
        padding: 31px 15px;

        .btn {
          background-color: #f3f3f6;
          border: solid 1px #d0d0d0;
          margin-bottom: 30px;
          color: #535b61;
          text-transform: uppercase;
          font-size: 13px;
          max-width:320px;
        }
      }
      .samurai__essays {
        @extend .ul-reset;
        & li {
          font-size: 16px;
          line-height: 1.38;
          letter-spacing: 0.5px;
          text-align: left;
          color: #5db83a;
          padding-bottom: 20px;
        }
      }
    }
  .inverse{
    color: $inverse;
  }

  @media screen and (min-width:768px){
   //s min-height:478px;
    &:before{
      position: absolute;
      left:0;
      bottom:0;
      top:0;
      content: '';
      background-image: url(../../img/about_bg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width:50%;
      display: block;
    }
  }

  @media screen and (max-width:767px){
    &:before{
      position: absolute;
      left:0;
      bottom:-50%;
      top:0;
      content: '';
      background: $pr_colr;
      padding-top: 50%;
      display: block;
    }
  }

  &-text {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 15px;

    p{
      margin-bottom: 20px;
    }
  }

  .samurai__title{
    line-height: 1.5;
  }
  @media screen and (min-width: 992px) {
    & .samurai__widget-new-essays {
      padding-left: 62px;
    }
    & .samurai__widget-tag-cloud{
      padding-left: 47px;
    }

  }
}

/* Samurai Cats */

.samurai-cats {
  padding-bottom: 46px;
  padding-top: 5px;

  &-inner{
    padding-bottom: 113px;
  }

  h4 {
    font-family: Montserrat, sans-serif;
    font-size: 31px;
    font-weight: 500;
    line-height: 1.94;
    text-align: center;
    color: $color_h;
    @media screen and (max-width:767px) {
      font-size: 21px;
      text-align: left;
    }

    @extend .after;
    @media screen and (min-width:768px) {
      &:after {
        margin: 0 auto;
      }
    }
  }

  ul{
    @extend .ul-reset;
    margin-top: 14px;

    li{
      padding-left: 0;
      padding-right: 0;
      a {
        font-family: Lato, sans-serif;
        font-size: 13px;
        letter-spacing: 0.4px;
        text-align: left;
        color: #5db83a;
        padding:8px 8px;
      }

      @media screen and(max-width: 767px){
        display: block;
        margin:10px 0;
      }
    }
  }
}

/* Samurai CTA */

.samurai-cta {
  padding:32px 0 15px 0;

  .btn-primary {
    &:hover{
      background: transparent;
      color: $pr_colr;
    }
  }
}

/* Samurai Article */

.samurai__article{

  &-title{
    margin-top: 10.5px;
    margin-bottom: 29px;
    font-size: 31px;
    font-weight: 500;
    line-height: 1.94;
    color: #35343d;
    font-family: Montserrat, sans-serif;
    @media screen and (max-width:767px) {
      font-size: 21px;
      text-align: left;
      line-height: 1.43;
    }
  }

  &-item{
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11), 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    padding: 23px 31px;
    border-top: 3px solid $pr_colr;
    position: relative;
    margin-bottom: 31px;

    h3{
      @extend .reset;
      @extend .after;
      font-family: Montserrat, sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.40;
      text-align: left;
      a{
        color: #35343d;
      }
    }

    p{
      font-family: Lato, sans-serif;
      font-size: 15px;
      line-height: 1.47;
      letter-spacing: 0.5px;
      text-align: left;
      color: #2f2f32;
      overflow: hidden;
    }

    & .hover {
      position: absolute;
      top:0;
      bottom:0;
      left: 0;
      right:0;
      opacity:0;
      transition: all 0.5s ease;
      background-color: rgba(93, 184, 58, 0.7);

      & .btn {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        background: #fff;
        color: $pr_colr;
        border-color: $pr_colr;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 16px;
        text-align: center;
      }
    }

    &:hover {
      & .hover {
        opacity:1;
      }
    }
  }


  @media screen  and (min-width: 768px){
    .col-flex{
      display: flex;
    }

    &-list-flex {
      display: flex;
      flex-direction: row;
    }

    &-item-flex{
      display: flex;
      flex-direction: column;
    }
  }


}

/* Samurai text */

.samurai__text {

  &-home{
    padding: 4px 0 102px 0;
  }

  p{
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2f2f32;
  }
}