/* Samurai Hero Header */

.navbar {
  margin-bottom: 0;
  border-bottom-width: 0;
  transition: all .5s ease;
  z-index: 1;
  .navbar-brand {
    font-family: 'Titillium Web', sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 0.87;
    text-align: left;
    color: #5db83a;
  }
  &.scrolled {
    box-shadow: 0 0 20px 2px rgba(97,90,90,0.40);
  }
  .menutoggle {
    width: 60px;
    height: 52px;
    padding: 0;
    display: none;
    float: right;
    text-decoration: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    margin: 6px 0px 6px 15px;
  }

  a.close-icon-wrap {
    width: 30px;
    height: 30px;
    float: right;
    margin: 15px;
    display: none;
  }

  .close-icon {
    width: 15px;
    height: 2px;
    border-radius: 0px;
    cursor: pointer;
    &:before {
      width: 15px;
      height: 2px;
      border-radius: 0px;
      cursor: pointer;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: #525252;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    position: relative;
    top: 12px;
    background: #525252;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .bar {
    position: relative;
    transform: translateY(25px);
    background: #5db839;
    transition: all 0s .3s;
    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      background: #5db839;
    }
    width: 25px;
    height: 2px;
    border-radius: 2px;
    float: right;
    &:after {
      width: 25px;
      height: 2px;
      border-radius: 2px;
      float: right;
    }
    &:before {
      width: 25px;
      height: 2px;
      border-radius: 2px;
      float: right;
      bottom: 10px;
    }
    &:after {
      top: 10px;
    }
  }

  .samurai-assets {
    @extend .ul-reset;
    margin: 15px 0px;
    li {
      padding:0;
      margin: 0 3px;
      a {
        display: inline-block;
        padding: 0px 16px;
        text-decoration: none;
        outline: 0;
        -webkit-tap-highlight-color: transparent;
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        font-size: 13px;
        line-height: 1;
        transition: all 0.5s ease;

        &.btn {
          border-radius: 11px;
          border: solid 2px #5db83a;
          padding: 9.5px 23.3px;
          transition: all 0.5s ease;

          &:hover {
            background: $pr_colr;
            color: #fff;
          }
        }
      }
    }
  }

  .row {
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .navbar .menutoggle {
    display: block;
  }
}

/* Menu .header */

.navbar-header {
  float: left;
}

.header ul.menu {
  float: left;
  @extend .ul-reset;
  > li {
    display: inline-block;
    float: left;
    padding: 0px 16px;

    @media screen and (min-width: 768px) and (max-width: 991px){
      padding: 0 5px;
    }
    &.top-bar-wrap {
      display: none;
    }
    > a {
      padding: 26px 0px;
      display: inline-block;
      text-decoration: none;
      outline: 0;
      -webkit-tap-highlight-color: transparent;
      position: relative;
      text-transform: uppercase;
      font-family: Lato, sans-serif;
      font-size: 13px;
      line-height: 1;
      letter-spacing: 0.4px;
      color: #fff;
      transition: all 0.5s ease;
      position: relative;
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height:2px;
        background: transparent;
        bottom:-2px;
        left:0;
        transition: all 0.5s ease;
      }
    }

    &.active > a, &>a:hover {
      color: $pr_colr;
    }

    &.active > a, &>a:hover{
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height:2px;
        background: #5db83a;
        bottom:-2px;
        left:0;
      }
    }

    .indicator {
      margin-left: 6px;
      display: inline-block;
      transform: translateY(-1px);
    }
    ul.dropdown {
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 24px 32px 0 rgba(0, 0, 0, 0.19);
      list-style: none;
      margin: 0;
      padding: 0;
      display: none;
      position: absolute;
      z-index: 99;
      min-width: 180px;
      white-space: nowrap;
      background-color: #f7f5f9;
      border-radius: 0 0 4px 4px;
      font-size: 14px;
      li ul.dropdown {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 24px 32px 0 rgba(0, 0, 0, 0.19);
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 99;
        min-width: 180px;
        white-space: nowrap;
        background-color: #f7f5f9;
        -webkit-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        font-size: 14px;
      }
      > li {
        clear: both;
        width: 100%;
        border: 0;
        position: relative;
        &:hover > a {
          padding-left: 36px;
          &:before {
            opacity: 1;
            left: 22px;
          }
        }
        > a {
          width: 100%;
          padding: 10px 25px 10px 22px;
          color: #525252;
          text-decoration: none;
          display: inline-block;
          float: left;
          clear: both;
          position: relative;
          outline: 0;
          transition: all 0.5s ease;
          span.indicator {
            float: right;
            transform: rotate(-90deg);
          }
          &:before {
            font-family: FontAwesome;
            display: block;
            content: '\f105';
            position: absolute;
            left: 0;
            opacity: 0;
            transition: all 0.5s ease;
          }
          &:hover {
            background-color: #ece8f3;
          }
        }
        &:last-child > a {
          border-radius: 0 0 4px 4px;
        }
        > ul.dropdown {
          margin-top: 5px;
          border-radius: 4px;
          left: 100%;
          &.left {
            left: -100%;
          }
          li:first-child > a {
            border-radius: 4px 4px 0 0;
          }
        }
      }
    }

    &.cta-btn{
      padding: 0 20px;
      margin:15px 0;

      .btn {
        color: #fff;
        width: 100%;
        height:36px;
        line-height: 36px;
        padding: 0px;
        position: relative;
        border-color: #5db83a;

        &:hover{
          color: #5db83a;
        }

        &:after{
          display: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    ul.menu {
      margin-left: 89px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 20px;
    .logo {
      margin: 11px 30px 10px 20px !important;
      font-size: 20px;
      line-height: 1.55;
    }
    .menutoggle {
      display: block;
    }
    ul.menu {
      width: 280px;
      position: fixed;
      right: -400px;
      height: 100%;
      background-color: #fff;
      color: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 20000;
      transition: right 0.8s ease;
      padding: 0 15px;
      span.indicator {
        position: absolute;
        right: 0;
        top: 0;
        height: 52px;
        transform: translateY(-3px);
        i {
          color: $pr_colr;
          padding: 19px;
          transition: -webkit-transform .5s ease;
          transition: transform .5s ease;
          transition: transform 0.5s ease, -webkit-transform 0.5s ease;
        }
        &.indicator-up i {
          transform: rotate(180deg);
        }
      }
      &.open {
        right: 0;
      }
      > li {
        width: 100%;
        display: block;
        position: relative;
        padding:0px;
        &.top-bar-wrap {
          width: 100%;
          background-color: #fff;
          padding: 20px;
          display: inline-block;
          > a {
            padding: 0;
            margin: 0;
            .close-icon {
              display: inline-block;
              float: right;
            }
            &:after{
              display: none;
            }
          }
        }
        > a {
          color: #525252;
          display: inline-block;
          font-weight: 700;
          padding: 15px 0px;
          position: relative;
          &:before {
            display: none;
          }

          &:after {
            bottom: 5px;
          }
        }
        &.active > a:after {
          opacity: 1;
          visibility: visible;
        }

        &.active > a{
          &:after{
              bottom: 5px;
          }
          &:hover{
            &:after{
              display: block;
            }
          }
        }

        &>a:hover{
          &:after{
            display: none;
          }
        }

        &.has-dropdown {
          a{
            width: 100%;
          }
        }

        ul.dropdown {
          width: 100%;
          position: static;
          box-shadow: none;
          li ul.dropdown {
            width: 100%;
            position: static;
            box-shadow: none;
            > li a {
              padding: 16px 20px;
              border: none !important;
              border-radius: 0 !important;
              color: #fff;
            }
          }
          > li {
            a {
              padding: 16px 20px;
              border: none !important;
              border-radius: 0 !important;
              color: #fff;
            }
            > {
              a {
                padding-left: 15px;
                background-color: #fff;
                color: #525252;
              }
              ul.dropdown > li > {
                a {
                  padding-left: 50px;
                  background-color: #2f2442;
                  &:hover {
                    background-color: #2f2442;
                  }
                }
                ul.dropdown > li > a {
                  padding-left: 70px;
                  background-color: #2f2442;
                  &:hover {
                    background-color: #2f2442;
                  }
                }
              }
            }
          }
        }
      }


      & li.cta-btn {
        padding: 22px 0 0 0;
        border-top: solid 1px #dcdcdc;
        a{
          font-weight:normal;
        }
      }
    }

    & li.search{
      .search__form input{
        height: 36px;
        line-height: 36px;
      }
    }
  }
}