/* Styles for dialog window */

.mfp-bg {
  background: rgba(46, 47, 51, 0.8);
  opacity: 1;
}

.samurai__popup {
  max-width: 554px;
  margin: 40px auto;
  position: relative;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

  &-content{
    border-radius: 6px;
  }

  &-heading{
    background-color: #5db83a;
    color: #fff;
    position: relative;
    border-radius: 6px 6px 0 0 ;

    & .smile {
      width: 74px;
      height: 74px;
      background-color: #5db83a;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      & img{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

    & .h5{
      font-size: 14px;
      line-height: 1.27;
      letter-spacing: 0.5px;
      text-align: center;
      color: #ffffff;
      padding-top: 40px;
      padding-bottom: 22px;
      padding-left: 10px;
      padding-right: 10px;
      font-weight:normal;
    }

    & .h4{
      font-size: 24px;
      font-weight: 500;
      line-height: 2.5;
      text-align: center;
      color: #ffffff;
      padding-top: 22px;
      padding-bottom: 9px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0;
    }

    .h2{
      font-size: 36px;
      font-weight: 500;
      line-height: 1.67;
      text-align: center;
      color: #35343d;
      margin-top: 18px;
      margin-bottom: 15px;
    }

  }

  &-body{
    padding-bottom: 35px;

    &-thank{
      font-size: 13px;
      line-height: 1.54;
      letter-spacing: 0.5px;
      text-align: center;
      color: #2f3035;
      padding-top: 24px;
      padding-bottom: 24px;

    }

    &-offer{
      font-size: 13px;
      line-height: 1.54;
      letter-spacing: 0.5px;
      text-align: center;
      color: #2f3035;
    }

    .btn{
      min-width:130px;
    }

  }

  &-topic{
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2f3035;
  }

  &-form{
    max-width: 75%;
    margin: 15px auto;

    .form-control{
      display: block;
      float: left;
      width: auto;
      border-radius: 100px;
      background-color: #ffffff;
      border: solid 1px #e9eff4;
      height: 45px;
      @media screen and (min-width: 768px){
        min-width:303px;
      }
      @media screen and (max-width: 767px){
        float: none;
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .btn{
      min-width:130px;
      height: 45px;
    }
  }

  &-end{
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2f3035;
  }


  @media screen and (min-width:768px){
    .mfp-close{
      right: -30px;
      top: -25px;
      color: #5db83a;
      opacity: 1;
    }
  }

  @media screen and (max-width:767px){
    .mfp-close{
      right: 0px;
      top: -35px;
      color: #5db83a;
      opacity: 1;
      width: 16px;
    }
  }

  &-copy, &-thank{
    .btn {
      min-width: 103px;
    }
  }
}


.samurai__popup-offer{
  .samurai__popup-body {
    padding-bottom: 10px;

    & .h2 {
      font-size: 36px;
    }
  }

  .samurai__popup-form{
    position: relative;
    .cta-img{
      position: absolute;
      left: -55px;
      top: -36px;
    }
    .form-control{
      float: none;
      margin: 0 auto 24px auto;
      height: 45px;
    }

    .btn{
      height: 45px;
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
      text-transform: uppercase;
    }
  }
}


/**
 * Fade-zoom animation for first dialog
 */


/* start state */

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}


/* animate in */

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/* animate out */

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}


/* Dark overlay, start state */

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}


/* animate in */

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}


/* animate out */

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}


/**
 * Fade-move animation for second dialog
 */


/* at start */

.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
  -moz-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
  -ms-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
  -o-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
  transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
}


/* animate in */

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective( 600px) rotateX( 0);
  -moz-transform: translateY(0) perspective( 600px) rotateX( 0);
  -ms-transform: translateY(0) perspective( 600px) rotateX( 0);
  -o-transform: translateY(0) perspective( 600px) rotateX( 0);
  transform: translateY(0) perspective( 600px) rotateX( 0);
}


/* animate out */

.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
  -moz-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
  -ms-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
  -o-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
  transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
}


/* Dark overlay, start state */

.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}


/* animate in */

.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}


/* animate out */

.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}