/* Responsive */

@media screen and (min-width: 1200px) {
  .samurai-cats {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .samurai__hero .text-section {
    margin-top: 150px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .samurai__hero .text-section {
    margin-top: 120px;
  }
  .header ul.menu {
    margin-left: 20px;
  }
  .header ul.menu>li>a{
    padding: 26px 7px;
  }
}


@media screen and (max-width: 1199px) {
  .samurai-cats {
    ul {
      li{
        margin-bottom: 10px;
      }
    }
  }

}


@media screen and (min-width: 768px) {
  .samurai__sidebar{
    margin-top: 45px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default{
    background: #fff;
    border-bottom: solid 2px #eeeeee;
  }
}

