$pr_colr: #5db839;
$color_h: #35343d;
$inverse: #fff;

body{
  & .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 0;
    opacity: 0.6;
    background-color: #000000;
  }
}

.reset {
  margin:0;
  padding:0;
}

.ul-reset {
  margin:0;
  padding:0;
  list-style: none;
}

.flex{
  display: flex;
}

.after {
  &:after {
    content: '';
    display: block;
    width: 100%;
    max-width: 50px;
    margin: 20px 0 22px 0;
    height: 2px;
    background: $pr_colr;
    text-decoration: none;
  }
}

.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.btn-info {
  &:hover{
    background: $pr_colr;
    color: #fff;
    border-color: $pr_colr;
  }
}

.btn-primary {
  &:hover{
    background: transparent;
    color: $pr_colr;
  }
}

.page {
  background-color: #f9f9fb;
}