//= template/head.html

<!-- Catalog -->

<section class="page samurai__page samurai__404">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>
                    404
                </h1>

                <p class="samurai__404-subtitle">
                    The page you were looking for doesn’t exist
                </p>

                <p>
                    But You Can Search Your Essay
                </p>
                <!-- search -->
                <div class="search__result-form">
                    <form class="form search__form" role="search" method="get" action="/">
                        <div class="form-input-fields">
                            <input value="" name="s" type="search" placeholder="Search Essay" class="form-control">
                            <button name="submit" type="submit" class="btn btn-block btn-submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- end search -->

            </div>
        </div>
    </div>
</section>
<!-- Categories -->
<section class="samurai-cats samurai-cats-inner section-gray-d">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Custom writing services
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="" class="samurai-btn btn btn-info">Affordable Essay Help</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Best Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Buy an Essay</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Custom Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Dissertation Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writer</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Write My Essay</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Categories -->

<!-- End Catalog -->

//= template/footer.html

