//= template/head.html

<!-- Catalog -->

<section class="page samurai__page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="front-page.html" itemprop="item">
                            <span itemprop="name">Main page</span>
                        </a>
                    </li>
                    <li class="active">Contact us</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h1>
                    Contact us
                </h1>

                <!-- Contact Content -->
                <div class="row samurai__article-single">
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-single-content">
                            <form class="samurai__form" id="contactForm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="InputName">Your Name (required)</label>
                                            <input type="text" name="InputName" required class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="John Waits">
                                        </div>
                                        <div class="form-group">
                                            <label for="InputEmail">Your Email (required)</label>
                                            <input type="email"  name="InputEmail" required class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="name@domain.com">
                                        </div>
                                        <div class="form-group">
                                            <label for="textSubj">Subject (required)</label>
                                            <input type="text" name="textSubj" required class="form-control" id="textSubj" aria-describedby="emailHelp" placeholder="Paypal">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="user_message">Message</label>
                                            <textarea name="user_message"  cols="50" rows="8" placeholder="Texting here" id="user_message" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-md-12 text-center">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" value="Send">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Contact Content -->
            </div>

            <div class="col-sm-4 samurai__sidebar">
                <div class="samurai__widget samurai__widget-posts">
                    <h4 class="samurai__title samurai__widget-title">
                        New Essays
                    </h4>
                    <ul class="samurai__essays">
                        <li><a href="#">Life in ancient Greece and medieval Europe</a></li>
                        <li><a href="#">Long Term Health Care</a></li>
                        <li><a href="#">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                        <li><a href="#">Marvin ancient Greece and medieval Europe</a></li>
                        <li><a href="#">Long Term Health Care</a></li>
                        <li><a href="#">My position with flatworld</a></li>
                        <li><a href="#">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                        <li><a href="#">Marvin Bower</a></li>
                    </ul>
                    <a href="" class="btn btn-default visible-xs">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories -->
<section class="samurai-cats samurai-cats-inner section-gray-d">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Custom writing services
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="" class="samurai-btn btn btn-info">Affordable Essay Help</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Best Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Buy an Essay</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Custom Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Dissertation Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writer</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Write My Essay</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Categories -->

<!-- End Catalog -->

//= template/footer.html

