//= template/head.html

<!-- Catalog -->

<section class="page samurai__page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="front-page.html" itemprop="item" class="home">
                            <span itemprop="name">Main</span>
                        </a>
                    </li>
                    <li class="active">Free Essays</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h1>
                    Free Essay
                </h1>

                <!-- articles -->
                <div class="row samurai__article-list">
                    <div class="col-md-6 col-sm-6">
                        <div class="samurai__article-item">
                            <div class="samurai__article-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                The 1988 film tells a fictionalization version of the investigation into the real-life murder of civil rights workers in Mississippi in…
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="samurai__article-item">
                            <div class="samurai__article-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                The 1988 film tells a fictionalization version of the investigation into the real-life murder of civil rights workers in Mississippi in…
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row samurai__article-list">
                    <div class="col-md-6 col-sm-6">
                        <div class="samurai__article-item">
                            <div class="samurai__article-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                The 1988 film tells a fictionalization version of the investigation into the real-life murder of civil rights workers in Mississippi in…
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="samurai__article-item">
                            <div class="samurai__article-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                The 1988 film tells a fictionalization version of the investigation into the real-life murder of civil rights workers in Mississippi in…
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row samurai__article-list">
                    <div class="col-md-6 col-sm-6">
                        <div class="samurai__article-item">
                            <div class="samurai__article-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                The 1988 film tells a fictionalization version of the investigation into the real-life murder of civil rights workers in Mississippi in…
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="samurai__article-item">
                            <div class="samurai__article-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                The 1988 film tells a fictionalization version of the investigation into the real-life murder of civil rights workers in Mississippi in…
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row samurai__article-list">
                    <div class="col-md-6 col-sm-6">
                        <div class="samurai__article-item">
                            <div class="samurai__article-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                The 1988 film tells a fictionalization version of the investigation into the real-life murder of civil rights workers in Mississippi in…
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="samurai__article-item">
                            <div class="samurai__article-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                The 1988 film tells a fictionalization version of the investigation into the real-life murder of civil rights workers in Mississippi in…
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row samurai__article-list">
                    <div class="col-md-6 col-sm-6">
                        <div class="samurai__article-item">
                            <div class="samurai__article-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                The 1988 film tells a fictionalization version of the investigation into the real-life murder of civil rights workers in Mississippi in…
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="samurai__article-item">
                            <div class="samurai__article-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                The 1988 film tells a fictionalization version of the investigation into the real-life murder of civil rights workers in Mississippi in…
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Articles -->


                <!-- paginations -->
                <nav aria-label="Page navigation example">
                    <ul class="paginate list-inline">
                        <li class="prev">
                            <a href="#" aria-label="prev page">
                                << prev page
                            </a>
                        </li>
                        <li class="page-item active">1</li>
                        <li class="page-item"><a href="#">2</a></li>
                        <li class="page-item"><a href="#">3</a></li>
                        <li class="page-item"><a href="#">...</a></li>
                        <li class="page-item"><a href="#">59</a></li>
                        <li class="page-item"><a href="#">60</a></li>
                        <li class="page-item"><a href="#">61</a></li>
                        <li class="next">
                            <a href="#" aria-label="next page">
                                next page >>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="col-sm-4 samurai__sidebar">
                <div class="samurai__widget samurai__widget-posts">
                    <h4 class="samurai__title samurai__widget-title">
                        New Essays
                    </h4>
                    <ul class="samurai__essays">
                        <li><a href="#">Life in ancient Greece and medieval Europe</a></li>
                        <li><a href="#">Long Term Health Care</a></li>
                        <li><a href="#">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                        <li><a href="#">Marvin ancient Greece and medieval Europe</a></li>
                        <li><a href="#">Long Term Health Care</a></li>
                        <li><a href="#">My position with flatworld</a></li>
                        <li><a href="#">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                        <li><a href="#">Marvin Bower</a></li>
                    </ul>
                    <a href="" class="btn btn-default visible-xs">View More</a>
                </div>
                <div class="samurai__widget samurai__widget-tag-cloud">
                    <h4 class="samurai__title samurai__widget-title">Popular Essay Topics</h4>
                    <div class="samurai__tagcloud tagcloud">
                        <a href="" class="tag-size-3">Computer</a>
                        <a href="" class="tag-size-5">Computer</a>
                        <a href="" class="tag-size-5">Culture </a>
                        <a href="" class="tag-size-7">Psychology</a>
                        <a href="" class="tag-size-3">Literature </a>
                        <a href="" class="tag-size-8">Family</a>
                        <a href="" class="tag-size-8">Religion</a>
                        <a href="" class="tag-size-4">Film</a>
                        <a href="" class="tag-size-2">Religion</a>
                        <a href="" class="tag-size-3">Psychology</a>
                        <a href="" class="tag-size-2">Literature</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories -->
<section class="samurai-cats samurai-cats-inner section-gray-d">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Custom writing services
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="" class="samurai-btn btn btn-info">Affordable Essay Help</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Best Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Buy an Essay</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Custom Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Dissertation Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writer</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Write My Essay</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Categories -->

<!-- End Catalog -->

//= template/footer.html

