//= template/head.html

<!-- Hero Header -->
<section class="samurai__hero section-start" data-sidebar-height>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-6 text-section">
                <h1 class="samurai__hero-header">
                    Free Essays and Online
                    Writing Services
                </h1>
                <strong class="samurai__hero-text">
                    We’re an expert essay writing service ready to assist you in crafting an excellent essay,
                    distinguished dissertation, or top-notch thesis.
                </strong>
                <div class="button-block hidden-xs">
                    <a href="/" class="samurai-btn btn btn-primary">
                        Order Essay
                    </a>
                    <form action="" autocomplete="off">
                        <input id="search" class="samurai-btn form-control" name="search" type="text" placeholder="Search Essay">
                        <button id="search_submit" class="samurai-btn-search" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
                <div class="search-form visible-xs">
                    <form class="form" role="search" method="get" action="/">
                        <div class="form-input-fields">
                            <input value="" name="s" type="search" placeholder="What is your topic?" class="form-control">
                            <div class="form-icon-serach"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                        <button name="submit" type="submit" class="btn btn-primary">
                            Hire writer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Hero Header -->

<!-- About US -->
<section class="samurai__about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 samurai__about-left">
                <h2 class="samurai__title inverse">
                    Essay Writing Service
                </h2>
                <div class="samurai__about-text inverse">
                    <p>
                        We understand that students are on a budget and they cannot splurge on an expensive essay,
                        especially, if it’s not any different in terms of quality from the one we offer!
                    </p>
                    <p>
                        That’s why we’ve created a best cheap essay writing service UK really needs that doesn’t cut
                        corners and compromise on quality. We’re cheap, when it comes to prices only.
                    </p>
                    <p>
                        We’ve discovered the right payment system, taking into consideration the realistic budget of
                        students across the UK, and our writers’ satisfaction with work conditions, and remuneration.
                        We can proudly say we’ve got it right, and you’ll get first-rate work at affordable prices.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 samurai__about-rigth">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="samurai__widget samurai__widget-new-essays">
                            <h4 class="samurai__title samurai__widget-title">
                                New Essays
                            </h4>
                            <ul class="samurai__essays">
                                <li><a href="#">Life in ancient Greece and medieval Europe</a></li>
                                <li><a href="#">Long Term Health Care</a></li>
                                <li><a href="#">My position with flatworld</a></li>
                                <li><a href="#">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                                <li><a href="#">Marvin Bower</a></li>
                            </ul>
                            <a href="" class="btn btn-default visible-xs">View More</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="samurai__widget samurai__widget-tag-cloud">
                            <h4 class="samurai__title samurai__widget-title">Popular Essay Topics</h4>
                            <div class="samurai__tagcloud tagcloud">
                                <a href="" class="tag-size-3">Computer</a>
                                <a href="" class="tag-size-5">Computer</a>
                                <a href="" class="tag-size-5">Culture </a>
                                <a href="" class="tag-size-7">Psychology</a>
                                <a href="" class="tag-size-3">Literature </a>
                                <a href="" class="tag-size-8">Family</a>
                                <a href="" class="tag-size-8">Religion</a>
                                <a href="" class="tag-size-4">Film</a>
                                <a href="" class="tag-size-2">Religion</a>
                                <a href="" class="tag-size-3">Psychology</a>
                                <a href="" class="tag-size-2">Literature</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About US -->

<!-- Categories -->
<section class="samurai-cats section-gray-d">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Custom writing services
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="" class="samurai-btn btn btn-info">Affordable Essay Help</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Best Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Buy an Essay</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Custom Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Dissertation Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writer</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Write My Essay</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Categories -->

<!-- Cta -->
<section class="samurai-cta section-gray">
    <div class="samurai__cta center container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="samurai__cta-content">
                    <div class="samurai__cta-h3">WE WILL WRITE A CUSTOM ESSAY SAMPLE ON</div>
                    <div class="samurai__cta-h2">ANY TOPIC SPECIFICALLY</div>
                    <div class="samurai__cta-h3">FOR YOU</div>
                    <div class="samurai__cta-h2">FOR ONLY <span>$12.90/PAGE</span></div>
                    <a href="" class="samurai-btn btn btn-primary">Order now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Cta -->

<!-- Articles -->
<section class="samurai__article section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="samurai__article-title">Here are some of the other benefits of Essaysamurai.co.uk</div>
            </div>
        </div>
        <div class="row samurai__article-list samurai__article-list-flex">
            <div class="col-md-6 col-sm-6 col-flex">
                <div class="samurai__article-item samurai__article-item-flex">
                    <h3><a href="">We provide assignments covering a wide range of disciplines.</a></h3>
                    <p>
                        We never miss a deadline and time management is of utmost importance to us. You can relax and sleep
                        soundly while our pro-team produces a winning paper. We finish top of the custom essay writing
                        service reviews for just this reason!
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-flex">
                <div class="samurai__article-item samurai__article-item-flex">
                    <h3><a href="">We provide assignments covering a wide range of disciplines.</a></h3>
                    <p>
                        We never miss a deadline and time management is of utmost importance to us. You can relax and sleep
                        soundly while our pro-team produces a winning paper. We finish top of the custom essay writing
                        service reviews for just this reason! We finish top of the custom essay writing
                        service reviews for just this reason!
                    </p>
                </div>
            </div>
        </div>
        <div class="row samurai__article-list samurai__article-list-flex">
            <div class="col-md-6 col-sm-6 col-flex">
                <div class="samurai__article-item samurai__article-item-flex ">
                    <h3><a href="">We provide assignments covering a wide range of disciplines.</a></h3>
                    <p>
                        We never miss a deadline and time management is of utmost importance to us. You can relax and sleep
                        soundly while our pro-team produces a winning paper. We finish top of the custom essay writing
                        service reviews for just this reason! service reviews for just this reason!
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-flex" >
                <div class="samurai__article-item samurai__article-item-flex">
                    <h3><a href="">We provide assignments covering a wide range of disciplines.</a></h3>
                    <p>
                        We never miss a deadline and time management is of utmost importance to us. You can relax and sleep
                        soundly while our pro-team produces a winning paper. We finish top of the custom essay writing
                        service reviews for just this reason! We never miss a deadline and time management is of utmost importance to us. You can relax and sleep
                        soundly while our pro-team produces a winning paper. We finish top of the custom essay writing
                        service reviews for just this reason!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Articles -->

<!-- Text -->
<section class="samurai__text section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                    At Essay Samurai, we pride ourselves on being the leading essay help service in the UK.
                    <br/>
                    You won’t find better anywhere, and we can guarantee it.
                </p>
                <p>Are you ready to procure a pro paper?</p>
            </div>
        </div>
    </div>
</section>
<!-- End Text -->


//= template/footer.html

