//= template/head.html

<!-- Catalog -->

<section class="page samurai__page samurai__single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="front-page.html" itemprop="item">
                            <span itemprop="name">Main</span>
                        </a>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="popap.html" itemprop="item">
                            <span itemprop="name">Popap</span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h1>
                    Popap page
                </h1>

                <!-- articles -->
                <div class="row samurai__article-single">
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-single-content">

                            <a class="exit-popup-open" href="#samurai-offer">Offer</a><br>
                            <a class="popup-with-zoom-anim" href="#samurai-copy">Copy</a><br>
                            <a class="popup-with-zoom-anim" href="#samurai-thank">Copy Thank</a><br>

                            <!-- copy pop-up -->
                            <div id="samurai-copy" class="samurai__popup samurai__popup-copy zoom-anim-dialog mfp-hide text-center">
                                <div class="samurai__popup-content">
                                    <div class="samurai__popup-heading">
                                        <div class="smile">
                                            <img src="img/sad.svg" alt="smile">
                                        </div>
                                        <div class="h5">
                                            Sorry, but copying text is forbidden on this website.<br>
                                            If you need this or any other sample, we can send it to you via email.<br>
                                            Please, specify your valid email address
                                        </div>
                                    </div>
                                    <div class="samurai__popup-body">
                                        <div class="samurai__popup-topic">
                                            <strong>Topic:</strong> How can spirituality in the practice of nursing
                                        </div>
                                        <div class="samurai__popup-form">
                                            <form id="" class="form" method="POST" action="javascript:void(null);">
                                                <input type="email" class="form-control" name="mail" placeholder="Type Your E-mail">
                                                <input type="submit" class="btn btn-primary" value="Send">
                                            </form>
                                        </div>
                                        <div class="samurai__popup-end">
                                            <div>
                                                We can't stand spam as much as you do
                                            </div>
                                            <a href="#" class="popup-modal-dismiss">No, thanks. I prefer suffering on my own.</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="samurai-thank" class="samurai__popup samurai__popup-thank zoom-anim-dialog mfp-hide text-center">
                                <div class="samurai__popup-content">
                                    <div class="samurai__popup-heading">
                                        <div class="smile">
                                            <img src="img/happy.svg" alt="smile">
                                        </div>
                                        <div class="h4">
                                            Thank you!
                                        </div>
                                    </div>
                                    <div class="samurai__popup-body">
                                        <div class="samurai__popup-body-thank">
                                            Remember that this is just a sample essay and since it might not be<br>original, we do not recommend to submit it. However, we might<br> edit this sample to provide you with a plagiarism-free paper
                                        </div>
                                        <button class="btn btn-primary">I Got It</button>
                                    </div>
                                </div>
                            </div>


                            <!-- Exit Pup-UP -->
                            <div id="samurai-offer" class="samurai__popup samurai__popup-offer zoom-anim-dialog mfp-hide text-center">
                                <div class="samurai__popup-content">
                                    <div class="samurai__popup-heading">
                                        <div class="smile">
                                            <img src="img/cute.svg" alt="smile">
                                        </div>
                                        <div class="h4">
                                            Wait, we have a special offer for you
                                        </div>
                                    </div>
                                    <div class="samurai__popup-body">
                                        <div class="h2">
                                            FREE ESSAYS
                                        </div>
                                        <div class="samurai__popup-body-offer">
                                            Remember that this is just a sample essay and since it might not be<br>original, we do not recommend to submit it. However, we might<br> edit this sample to provide you with a plagiarism-free paper
                                        </div>
                                        <div class="samurai__popup-form">
                                            <img src="img/fill-1.svg" alt="" class="cta-img hidden-xs hidden-sm">
                                            <form id=" " class="form" method="POST" action="javascript:void(null);">
                                                <input type="email" class="form-control" name="mail" placeholder="Type Your E-mail">
                                                <input type="submit" class="btn btn-primary" value="Ok">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Article -->
            </div>

            <div class="col-sm-4 samurai__sidebar">
                <div class="samurai__widget samurai__widget-posts">
                    <h4 class="samurai__title samurai__widget-title">
                        New Essays
                    </h4>
                    <ul class="samurai__essays">
                        <li><a href="#">Life in ancient Greece and medieval Europe</a></li>
                        <li><a href="#">Long Term Health Care</a></li>
                        <li><a href="#">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                        <li><a href="#">Marvin ancient Greece and medieval Europe</a></li>
                        <li><a href="#">Long Term Health Care</a></li>
                        <li><a href="#">My position with flatworld</a></li>
                        <li><a href="#">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                        <li><a href="#">Marvin Bower</a></li>
                    </ul>
                    <a href="" class="btn btn-default visible-xs">View More</a>
                </div>
                <div class="samurai__widget samurai__widget-cta">
                    <div class="widget__cta hidden-xs">
                        <img src="img/sidebar-cta.jpg" alt="Buy Essay" class="img-responsive">
                        <div class="widget__cta-title">
                            Buy <br>
                            Essay
                        </div>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="samurai__widget samurai__widget-tag-cloud">
                    <h4 class="samurai__title samurai__widget-title">Popular Essay Topics</h4>
                    <div class="samurai__tagcloud tagcloud">
                        <a href="" class="tag-size-3">Computer</a>
                        <a href="" class="tag-size-5">Computer</a>
                        <a href="" class="tag-size-5">Culture </a>
                        <a href="" class="tag-size-7">Psychology</a>
                        <a href="" class="tag-size-3">Literature </a>
                        <a href="" class="tag-size-8">Family</a>
                        <a href="" class="tag-size-8">Religion</a>
                        <a href="" class="tag-size-4">Film</a>
                        <a href="" class="tag-size-2">Religion</a>
                        <a href="" class="tag-size-3">Psychology</a>
                        <a href="" class="tag-size-2">Literature</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories -->
<section class="samurai-cats section-gray-d">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Custom writing services
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="" class="samurai-btn btn btn-info">Affordable Essay Help</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Best Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Buy an Essay</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Custom Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Dissertation Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writer</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Write My Essay</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Categories -->

<!-- End Catalog -->

//= template/footer.html

