//= template/head.html

<!-- Catalog -->

<section class="page samurai__page samurai__search">
    <div class="container">

        <div class="row">
            <div class="col-sm-8">

                <!-- search data -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="search__result-form">
                            <form class="form search__form" role="search" method="get" action="/">
                                <div class="form-input-fields">
                                    <input value="" name="s" type="search" placeholder="Males Davis" class="form-control">
                                    <button name="submit" type="submit" class="btn btn-block btn-submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <ul class="search__result">
                            <li class="search__result-count"><span>Results:</span> 3,870</li>
                            <li class="search__result-means"><span>Perhaps you meant:</span> <span class="no-miss">Miles</span> Davis</li>
                        </ul>
                    </div>
                </div>
                <!--search data end -->

                <!-- articles -->
                <div class="row samurai__article-list">
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-item">
                            <div class="samurai__article-search-title">THE BIRTH OF COOL – MILES DAVIS</div>
                            <p>
                                In early 1959, jazz trumpeter Miles Davis laid down the foundation for a whole new style
                                of jazz music. Through his “Kind of Blue” modal jazz was born. This record became a
                                classic, at times showing its complexity through the soloing, but also allowing the
                                educated listener to revel in the simplicity of the modes….
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-item">
                            <div class="samurai__article-search-title">ANALYSIS OF MILES DAVIS’ “KIND OF BLUE”</div>
                            <p>
                                In early 1959, jazz trumpeter Miles Davis laid down the foundation for a whole new style
                                of jazz music. Through his “Kind of Blue” modal jazz was born. This record became a
                                classic, at times showing its complexity through the soloing, but also allowing the
                                educated listener to revel in the simplicity of the modes….
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-banner">
                            <div class="samurai__article-banner-top">We will write a custom essay sample on </div>
                            <div class="samurai__article-banner-middle">Mississippi Burning: Reaction paper</div>
                            <div class="samurai__article-banner-bottom"> or any similar topic only for you</div>
                            <div class="samurai__article-banner-button">
                                <a href="" class="samurai-btn btn btn-primary">Order now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-item">
                            <div class="samurai__article-search-title">BEBOP RESEARCH PAPER</div>
                            <p>
                                In early 1959, jazz trumpeter Miles Davis laid down the foundation for a whole new style
                                of jazz music. Through his “Kind of Blue” modal jazz was born. This record became a
                                classic, at times showing its complexity through the soloing, but also allowing the
                                educated listener to revel in the simplicity of the modes….
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-item">
                            <div class="samurai__article-search-title">HISTORY OF JAZZ FROM 1970-1990</div>
                            <p>
                                In early 1959, jazz trumpeter Miles Davis laid down the foundation for a whole new style
                                of jazz music. Through his “Kind of Blue” modal jazz was born. This record became a
                                classic, at times showing its complexity through the soloing, but also allowing the
                                educated listener to revel in the simplicity of the modes….
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-item">
                            <div class="samurai__article-search-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                In early 1959, jazz trumpeter Miles Davis laid down the foundation for a whole new style
                                of jazz music. Through his “Kind of Blue” modal jazz was born. This record became a
                                classic, at times showing its complexity through the soloing, but also allowing the
                                educated listener to revel in the simplicity of the modes….
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-item">
                            <div class="samurai__article-search-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                In early 1959, jazz trumpeter Miles Davis laid down the foundation for a whole new style
                                of jazz music. Through his “Kind of Blue” modal jazz was born. This record became a
                                classic, at times showing its complexity through the soloing, but also allowing the
                                educated listener to revel in the simplicity of the modes….
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-item">
                            <div class="samurai__article-search-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                In early 1959, jazz trumpeter Miles Davis laid down the foundation for a whole new style
                                of jazz music. Through his “Kind of Blue” modal jazz was born. This record became a
                                classic, at times showing its complexity through the soloing, but also allowing the
                                educated listener to revel in the simplicity of the modes….
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-item">
                            <div class="samurai__article-search-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                In early 1959, jazz trumpeter Miles Davis laid down the foundation for a whole new style
                                of jazz music. Through his “Kind of Blue” modal jazz was born. This record became a
                                classic, at times showing its complexity through the soloing, but also allowing the
                                educated listener to revel in the simplicity of the modes….
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-item">
                            <div class="samurai__article-search-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                In early 1959, jazz trumpeter Miles Davis laid down the foundation for a whole new style
                                of jazz music. Through his “Kind of Blue” modal jazz was born. This record became a
                                classic, at times showing its complexity through the soloing, but also allowing the
                                educated listener to revel in the simplicity of the modes….
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-item">
                            <div class="samurai__article-search-title">Mississippi Burning: Reaction paper</div>
                            <p>
                                In early 1959, jazz trumpeter Miles Davis laid down the foundation for a whole new style
                                of jazz music. Through his “Kind of Blue” modal jazz was born. This record became a
                                classic, at times showing its complexity through the soloing, but also allowing the
                                educated listener to revel in the simplicity of the modes….
                            </p>
                            <div class="hover text-center">
                                <a href="single.html" class="btn btn-default">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Articles -->


                <!-- paginations -->
                <nav aria-label="Page navigation example">
                    <ul class="paginate list-inline">
                        <li class="prev">
                            <a href="#" aria-label="prev page">
                                << prev page
                            </a>
                        </li>
                        <li class="page-item active">1</li>
                        <li class="page-item"><a href="#">2</a></li>
                        <li class="page-item"><a href="#">3</a></li>
                        <li class="page-item"><a href="#">...</a></li>
                        <li class="page-item"><a href="#">59</a></li>
                        <li class="page-item"><a href="#">60</a></li>
                        <li class="page-item"><a href="#">61</a></li>
                        <li class="next">
                            <a href="#" aria-label="next page">
                                next page >>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="col-sm-4 samurai__sidebar">
                <div class="samurai__widget samurai__widget-posts">
                    <h4 class="samurai__title samurai__widget-title">
                        New Essays
                    </h4>
                    <ul class="samurai__essays">
                        <li><a href="#">Life in ancient Greece and medieval Europe</a></li>
                        <li><a href="#">Long Term Health Care</a></li>
                        <li><a href="#">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                        <li><a href="#">Marvin ancient Greece and medieval Europe</a></li>
                        <li><a href="#">Long Term Health Care</a></li>
                        <li><a href="#">My position with flatworld</a></li>
                        <li><a href="#">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                        <li><a href="#">Marvin Bower</a></li>
                    </ul>
                    <a href="" class="btn btn-default visible-xs">View More</a>
                </div>
                <div class="samurai__widget samurai__widget-cta">
                    <div class="widget__cta hidden-xs">
                        <img src="img/sidebar-cta.jpg" alt="Buy Essay" class="img-responsive">
                        <div class="widget__cta-title">
                            Buy <br>
                            Essay
                        </div>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="samurai__widget samurai__widget-tag-cloud">
                    <h4 class="samurai__title samurai__widget-title">Popular Essay Topics</h4>
                    <div class="samurai__tagcloud tagcloud">
                        <a href="" class="tag-size-3">Computer</a>
                        <a href="" class="tag-size-5">Computer</a>
                        <a href="" class="tag-size-5">Culture </a>
                        <a href="" class="tag-size-7">Psychology</a>
                        <a href="" class="tag-size-3">Literature </a>
                        <a href="" class="tag-size-8">Family</a>
                        <a href="" class="tag-size-8">Religion</a>
                        <a href="" class="tag-size-4">Film</a>
                        <a href="" class="tag-size-2">Religion</a>
                        <a href="" class="tag-size-3">Psychology</a>
                        <a href="" class="tag-size-2">Literature</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories -->
<section class="samurai-cats samurai-cats-inner section-gray-d">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Custom writing services
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="" class="samurai-btn btn btn-info">Affordable Essay Help</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Best Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Buy an Essay</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Custom Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Dissertation Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writer</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Write My Essay</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Categories -->

<!-- End Catalog -->

//= template/footer.html

