//= template/head.html

<!-- Catalog -->

<section class="page samurai__page samurai__single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="front-page.html" itemprop="item">
                            <span itemprop="name">Main</span>
                        </a>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="essays.html" itemprop="item">
                            <span itemprop="name">Free</span>
                        </a>
                    </li>
                    <li class="active">Mississippi Burning: Reaction paper</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h1>
                    Mississippi Burning: Reaction paper
                </h1>

                <!-- articles -->
                <div class="row samurai__article-single">
                    <div class="col-md-12 col-sm-12">
                        <div class="samurai__article-single-content">
                            <p><a href="">The 1988 film tells a fictionalization</a> version of the investigation into the real-life murder of civil rights workers in</p>
                            <p>Mississippi in 1964. The film focuses on the two fictional FBI investigators who go to Mississippi to investigate the murders. The FBI agents are portrayed as heroes who descend into this injustice in the hundreds, however in reality the real FBI agents and the justice department reluctantly protected the Civil Rights workers and the protestors reportedly witnessed the beatings without interfering.</p>

                            <!-- CTA -->
                            <div class="samurai__article-banner">
                                <div class="samurai__article-banner-top">We will write a custom essay sample on </div>
                                <div class="samurai__article-banner-middle">Mississippi Burning: Reaction paper</div>
                                <div class="samurai__article-banner-bottom"> or any similar topic only for you</div>
                                <div class="samurai__article-banner-button">
                                    <a href="" class="samurai-btn btn btn-primary">Order now</a>
                                </div>
                            </div>
                            <!-- End CTA -->

                            <p>Mississippi Burning claims to highlight the injustice of southern society in 1964. The FBI agents are given the job to investigate the disappearance from a Mississippi town. It is made as a point of fact that two of the men were white. The FBI agents, one a former by-the-book Yankee determined never to violate the rights of the interrogated, the other agent, is a local man who has been tainted by the South. He is a streetwise complex character who believes that to handle &ldquo;Scum.&rdquo; You must sink to &ldquo;Gutter level.&rdquo;</p>
                            <p><strong>strong</strong> the audience <b>bold</b> <i>italic</i> recognizes these characters bringing out the old buddy-buddy film</p>
                            <img src="img/page.jpg" class="alignleft" alt="">
                            <p>At first glance the audience recognizes these characters bringing out the old buddy-buddy film formula however, the film expands this cinematic clich&eacute; by becoming an ideological statement. Mississippi Burning brings out the resistance of a Southern community to change from an old way of thinking at a time when anti-liberal values of a small town in America still seem right when the Supreme Court is chipping away at the achievements of the 1960&rsquo;s. The films message is that all these battles have to be fought again and much harder than before at any cost for the lives of the men who were unjustly killed.</p>
                            <h3>The film like &ldquo;Birth a Nation,&rdquo; is stereotypical is historically</h3>
                            <img src="img/page.jpg" class="alignright" alt="">
                            <p>The film like &ldquo;Birth a Nation,&rdquo; is stereotypical is historically inaccurate. Black men in &ldquo;Birth A Nation,&rdquo; are portrayed as shiftless, lazy, rapist, criminals whereas the black men in Mississippi Burning are seen as only mute victims. Southerners are portrayed as red-necked, ignorant, racists who are all members of the KLAN.</p>
                            <h2>The film like &ldquo;Birth a Nation,&rdquo; is stereotypical is historically</h2>
                            <ol>
                                <li>investigator 1</li>
                                <li>investigator 2</li>
                                <li>investigator 3</li>
                                <li>investigator 4</li>
                                <li>investigator 5</li>
                            </ol>
                            <p>The Klan is doing the church burnings, cross burnings, lynching and murders of the three activists however, everyone does not want to speak up because of fear of retribution from the KLAN and the mutual bigotry that is rampant in town. The KLAN is a major terrorist force that keeps the people in town quiet. The investigators become the embodiment of the conflict, which is the essence of the film. A diner scene where the investigators enters an obvious segregated diner question a black kid who was brutally beaten up the KLAN. Another is when the investigators visit the Deputy&rsquo;s wife in the hospital where it is found the KLAN beat her because she helped the FBI agents.</p>
                            <h4>The film like &ldquo;Birth a Nation,&rdquo; is stereotypical is historically</h4>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat
                                    volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper
                                    suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                            </blockquote>
                            <p>The investigators end their personal differences to come together as a force at the end of the film to resolve the central problem. Anderson hires someone to get out important crucial information from the Mayor of the town with threats of castration. The FBI agents create a mock execution to frighten the criminals into revealing the truth by chasing the deputy with a razor blade. The crime is resolved with all the rednecks, the deputy and their co-conspirators sent to jail. The FBI agents leave with a mutual understanding, which shows the strength of the film. There isn&rsquo;t a sense that racism has been abolished and seems instead to be left with a sense of shifting despair and hope.</p>
                            <h5>The film like &ldquo;Birth a Nation,&rdquo; is stereotypical is historically</h5>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                </tr>
                                <tr>
                                    <td>Mary</td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                </tr>
                                </tbody>
                            </table>
                            <p>The investigators end their personal differences to come together as a force at the end of the film to resolve the central problem. Anderson hires someone to get out important crucial information from the Mayor of the town with threats of castration. The FBI agents create a mock execution to frighten the criminals into revealing the truth by chasing the deputy with a razor blade. The crime is resolved with all the rednecks, the deputy and their co-conspirators sent to jail. The FBI agents leave with a mutual understanding, which shows the strength of the film. There isn&rsquo;t a sense that racism has been abolished and seems instead to be left with a sense of shifting despair and hope.</p>
                            <h6>The film like &ldquo;Birth a Nation,&rdquo; is stereotypical is historically</h6>
                            <ul>
                                <li>investigator 1</li>
                                <li>investigator 2</li>
                                <li>investigator 3</li>
                                <li>investigator 4</li>
                                <li>investigator 5</li>
                            </ul>
                            <p>The investigators end their personal differences to come together as a force at the end of the film to resolve the central problem. Anderson hires someone to get out important crucial information from the Mayor of the town with threats of castration. The FBI agents create a mock execution to frighten the criminals into revealing the truth by chasing the deputy with a razor blade. The crime is resolved with all the rednecks, the deputy and their co-conspirators sent to jail. The FBI agents leave with a mutual understanding, which shows the strength of the film. There isn&rsquo;t a sense that racism has been abolished and seems instead to be left with a sense of shifting despair and hope.</p>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                </tr>
                                <tr>
                                    <td>Mary</td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="samurai__video-container">
                                <iframe src="https://www.youtube.com/embed/o9aVjBHEEbU" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                            </div>

                        </div>
                        <div class="row">
                            <div class="samurai__article-single-meta">
                                <div class="col-md-10">
                                    <div class="samurai__article-single-author">Mississippi Burnin, Directed By Alan Parker, written by chris</div>
                                    <div class="samurai__article-single-data">Gerolmom Crime Drama, 1988</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="sharing">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Article -->

                <div class="row related">
                    <div class="col-md-12">
                        <h3>
                            Related Essays
                        </h3>
                        <div class="related__essays">
                            <ul>
                                <li><a href="single.html">Life in ancient Greece and medieval Europe</a></li>
                                <li><a href="single.html">Long Term Health Care</a></li>
                                <li><a href="single.html">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                                <li><a href="single.html">My position with flatworld</a></li>
                                <li><a href="single.html">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                                <li><a href="single.html">Marvin Bower</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 samurai__sidebar">
                <div class="samurai__widget samurai__widget-posts">
                    <h4 class="samurai__title samurai__widget-title">
                        New Essays
                    </h4>
                    <ul class="samurai__essays">
                        <li><a href="#">Life in ancient Greece and medieval Europe</a></li>
                        <li><a href="#">Long Term Health Care</a></li>
                        <li><a href="#">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                        <li><a href="#">Marvin ancient Greece and medieval Europe</a></li>
                        <li><a href="#">Long Term Health Care</a></li>
                        <li><a href="#">My position with flatworld</a></li>
                        <li><a href="#">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                        <li><a href="#">Marvin Bower</a></li>
                    </ul>
                    <a href="" class="btn btn-default visible-xs">View More</a>
                </div>
                <div class="samurai__widget samurai__widget-cta">
                    <div class="widget__cta hidden-xs">
                        <img src="img/sidebar-cta.jpg" alt="Buy Essay" class="img-responsive">
                        <div class="widget__cta-title">
                            Buy <br>
                            Essay
                        </div>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="samurai__widget samurai__widget-tag-cloud">
                    <h4 class="samurai__title samurai__widget-title">Popular Essay Topics</h4>
                    <div class="samurai__tagcloud tagcloud">
                        <a href="" class="tag-size-3">Computer</a>
                        <a href="" class="tag-size-5">Computer</a>
                        <a href="" class="tag-size-5">Culture </a>
                        <a href="" class="tag-size-7">Psychology</a>
                        <a href="" class="tag-size-3">Literature </a>
                        <a href="" class="tag-size-8">Family</a>
                        <a href="" class="tag-size-8">Religion</a>
                        <a href="" class="tag-size-4">Film</a>
                        <a href="" class="tag-size-2">Religion</a>
                        <a href="" class="tag-size-3">Psychology</a>
                        <a href="" class="tag-size-2">Literature</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories -->
<section class="samurai-cats samurai-cats-inner section-gray-d">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Custom writing services
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="" class="samurai-btn btn btn-info">Affordable Essay Help</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Best Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Buy an Essay</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Custom Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Dissertation Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writer</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Write My Essay</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Categories -->

<!-- End Catalog -->

//= template/footer.html

