//= template/head.html

<!-- Catalog -->

<section class="page samurai__page samurai__plans">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>
                    Choose our subscription
                </h1>
                <p class="samurai__plans-subtitle">
                    Choose a Subscription that’s right for you. Download as many samples as you need within the<br> selected time-frame. Only you take a decision what subscription will be this time – regular or not.
                </p>

                <div class="samurai__plans-container">

                    <!-- cards items -->

                    <div class="samurai__plans-elem">
                        <div class="samurai__plans-elem-header stud">
                            <h3 class="samurai__plans-elem-title">Super Student</h3>
                            <div class="samurai__plans-elem-access">Quarterly access</div>
                            <div class="samurai__plans-elem-price"><span><sup>$</sup></span><span>14</span><span><sup>99</sup></span></div>
                            <div class="samurai__plans-elem-refinement"><sup>$</sup>29<sup>33</sup>/month</div>
                        </div>
                        <div class="samurai__plans-elem-body">
                            <ul>
                                <li>No Download Limit</li>
                                <li>Althusser Competing Interpellations And The Third Text</li>
                                <li>Always Look On The Bright Side Of Life</li>
                                <li>Philosophy As A Science</li>
                                <li>Enhance Wellness By Doing</li>
                                <li class="no-sup">Something Different With Nlp</li>
                            </ul>
                            <a class="samurai-btn btn btn-primary" href="">Buy Now</a>
                        </div>
                    </div>

                    <div class="samurai__plans-elem samurai__plans-sem">
                        <div class="samurai__plans-elem-header">
                            <h3 class="samurai__plans-elem-title">Productive Semester</h3>
                            <div class="samurai__plans-elem-access">Quarterly access</div>
                            <div class="samurai__plans-elem-price"><span><sup>$</sup></span><span>14</span><span><sup>99</sup></span></div>
                            <div class="samurai__plans-elem-refinement"><sup>$</sup>29<sup>33</sup>/month</div>
                        </div>
                        <div class="samurai__plans-elem-body">
                            <ul>
                                <li>No Download Limit</li>
                                <li>Althusser Competing Interpellations And The Third Text</li>
                                <li>Always Look On The Bright Side Of Life</li>
                                <li>Philosophy As A Science</li>
                                <li>Enhance Wellness By Doing</li>
                                <li class="no-sup">Something Different With Nlp</li>
                            </ul>
                            <a class="samurai-btn btn btn-primary" href="">Buy Now</a>
                        </div>
                    </div>

                    <div class="samurai__plans-elem samurai__plans-week">
                        <div class="samurai__plans-elem-header">
                            <h3 class="samurai__plans-elem-title">Fruitful Weekend</h3>
                            <div class="samurai__plans-elem-access">Quarterly access</div>
                            <div class="samurai__plans-elem-price"><span><sup>$</sup></span><span>14</span><span><sup>99</sup></span></div>
                            <div class="samurai__plans-elem-refinement"><sup>$</sup>29<sup>33</sup>/month</div>
                        </div>
                        <div class="samurai__plans-elem-body">
                            <ul>
                                <li>No Download Limit</li>
                                <li>Althusser Competing Interpellations And The Third Text</li>
                                <li>Always Look On The Bright Side Of Life</li>
                                <li>Philosophy As A Science</li>
                                <li>Enhance Wellness By Doing</li>
                                <li class="no-sup">Something Different With Nlp</li>
                            </ul>
                            <a class="samurai-btn btn btn-primary" href="">Buy Now</a>
                        </div>

                    </div>

                    <!-- End cards items -->

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 samurai__plans-bottom">
                <div class="row">
                    <div class="col-sm-5">
                        <h3>
                            Make a Trial Run
                        </h3>
                        <p>
                            It’s time to quit hesitating. Try this subscription and lay your doubts aside!
                        </p>
                    </div>
                    <div class="col-sm-7">
                        <div class="samurai__plans-bottom-brave">
                            <h3>
                                Brave Pilot
                            </h3>
                            <div class="row flex-row">
                                <div class="col-sm-4 col-xs-6">
                                    <div class="time">
                                        5-days access
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <div class="samurai__plans-bottom-price"><span><sup>$</sup></span><span>4</span><span><sup>99</sup></span></div>
                                    <div class="samurai__plans-bottom-refinement"><sup>$</sup>29<sup>94</sup>/month</div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <a class="samurai-btn btn btn-primary" href="">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Categories -->
<section class="samurai-cats samurai-cats-inner section-gray-d">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Custom writing services
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><a href="" class="samurai-btn btn btn-info">Affordable Essay Help</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Best Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Buy an Essay</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Custom Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Dissertation Writing</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writer</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Essay Writing Service</a></li>
                    <li><a href="" class="samurai-btn btn btn-info">Write My Essay</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Categories -->

<!-- End Catalog -->

//= template/footer.html

